<div class="col">
  <%= form_with scope: :home, url: :home_create, local: false do |form| %>
    <div class="form-group">
      <%= form.label "Enter text to convert to QR", for:"qrTextField"%>
      <%= form.text_area :text, id:"qrTextField", class:"form-control" %>
    </div>

    <%= form.submit 'Generate QR', class: "btn btn-primary" %>
  <% end %>
</div>

<div class="col">
  <div class="qr_image">
</div>