<div class="col">
  <%= form_with scope: :home, url: :home_upload, local: false do |f| %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.submit 'Scan QR image', class:"input-group-text"%>
      </div>
      <div class="custom-file">
        <%= f.file_field :picture, class:"custom-file-input", id:"inputGroupFile01" %>
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
  <% end %>
</div>

<div class="col">
  <div id="qr_text">
</div>